.publishers{
    width:20vw;
    display: flex;
    flex-direction: column;
}

.publisher__info{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.publisher__info.selected {
    background-color: #007bff; /* Example: Blue background */
    color: white; /* White text */
    cursor: pointer; /* Indicates the item is clickable */
  }
  
  