:root {
  --primary-color: #073837;
  --primary-color-light: #084847;
  --primary-color-very-light: #eefef1;
  --secondary-color: #ff802b;
  --secondary-color-light: #ffc4a6;
  --light-gray: #f9f9f9;
  --medium-gray: #ccc;
  --dark-gray: #515a5e;
  --text-color: #345666;
  --error-color: #ff4d4d;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
  color: var(--text-color);
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

/* .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 60px;
} */

button {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

button.primary {
  background-color: var(--primary-color);
}

button.secondary {
  background-color: var(--secondary-color);
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 80%;
}

.error-input{
  color: var(--error-color);
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 0.8rem;
}